body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(182, 177, 157);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
     
}


.game {
    padding: 10px;
    grid-column:2/3;
    justify-self: center;
}

.nav, .features, .floor, .face{
    background-color: #222;
    font-weight: bold;
    color: khaki;
    text-align: center;
    grid-column: 1/4;
    padding: 5px;
}


.face{
    font-size: 30px;
    transition: 0.5;
    
}


.dataView {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dataView h2{
    display: inline-block;
    margin-left: 3em;
    font-weight: bold;
    text-align: start;
    
}


.face {
    background-color: rgb(136, 154, 168);
    cursor: context-menu;
    font-size: 30px;
    border-bottom: 1px solid black;
    cursor: pointer;
    
}

button {
    cursor: pointer;
    height: 30px;
    width: 100px;
    margin-left: 3em;
    background: rgb(255, 237, 220);
    border: none;
    transition: 0.7s;
}

button p {
    color: black;
    display: inline;
    margin-right: 1em;
}



button:hover{
    background: rgb(255, 255, 255);
}

button:checked {
    background: rgb(123, 255, 0);
}


.floor {
background-color: rgb(0, 0, 0);
}


td {
    padding: 0px;
}

.cell {
    background-color: rgb(94, 126, 106);
    color: rgba(0,0,0,0);
    width: 2em;
    height: 2em;
    border: 1px solid #222;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-weight: bold;
    position: relative;
    transition: 0.2s;

    
}


.shown {
    background-color: rgb(165, 201, 154);
    
} 

.notShown {
    background-color: rgb(255, 249, 213);
} 


.marked {
    background-color: rgb(38, 0, 255);
} 

.notShown:hover {
    background-color:  rgb(220, 198, 255);
}


.marked:hover {
    background-color: rgb(74, 168, 255);
} 

.ref {
    display: none;
}


.shown.color0 {
    color: rgba(0,0,0,0);
}
.shown.color1 {
      color: rgb(3, 0, 172);
    }
    .shown.color2 {
        color: rgb(170, 82, 0);
    }
    .shown.color3 {
        color: rgb(126, 155, 0);
    }
.shown.color4 {
    color: rgb(0, 122, 31);
}
.shown.color5 {
    color: rgb(111, 0, 126);
}
.shown.color5 {
    color: rgb(0, 115, 119);
}
.shown.color6 {
    color: rgb(126, 0, 42)
}
.shown.color7 {
    color: rgb(43, 0, 15);
}
.shown.color8 {
    color: rgb(128, 0, 0);
}


.shown.mine  {
    background-color: rgb(255, 0, 0);    
    /* background-image: url(.../img/mine.png); */
    color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    
}


.shown.marked.mine  {
    background-color: rgb(38, 0, 255);    
    /* background-image: url(.../img/mine.png); */
    color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    
}

.cell img {
    width: 100%;
    position: absolute;
    background-position: center;
    /* display: none; */
    
}


.notShown.mine img {
    display: none;
}

.cell.flicker {
    background-color: rgb(99, 255, 67);
}